<div class="container"><!--a-->
  <div class="row"><!--b-->
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto"><!--c-->
      <h2>User info</h2>
      
      <%= form_with model: @user do |f| %>
      <div class="form-group">
          <label for="inputName">Name</label>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder: "名前" %>
      </div>
      
      <div class="form-group">
          <label for="inputImage">Image</label>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %> 
      </div>
      
      <div class="form-group">
          <label for="inputIntroduction">Introduction</label>
          <%= f.text_field :introduction, autofocus: true, id:"introduction", placeholder: "自己紹介文" %>
      </div>
      
      <div class="form-group">
          <%= f.submit "Update User", class: "btn btn-secondary" %>
      </div>
      <% end %>
    </div><!--c-->
  </div><!--b-->
</div><!--a-->

<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</div>







 