
<% if @book_new.errors.any? %>
 <%= @book_new.errors.count %> errors prohibited this obj from being saved:
 <ul>
  <% @book_new.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>

<div class="container px-5 px-sm-0"><!--a-->
  <div class="row"><!--b-->
    <div class="col-md-3"><!--c-->
      <h2>User info</h2>
      <table class="table">
        <tr><%= image_tag current_user.get_profile_image %></tr>
        <tr>
          <th>name</th>
          <th><%= current_user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= current_user.introduction %></th>
        </tr>
      </table>

      <div class="row"><!--d-->
        <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
      　 <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </div><!--d-->
      <h2 class="mt-3">New Book</h2>

      <%= form_with model: @book_new do |f| %>
      <div class="form-group">
          <h4>Title</h4>
          <%= f.text_field :title %>
      </div>

      <div class="form-group">
          <h4>Opinion</h4>
          <%= f.text_area :body %>
      </div>

      <div class="form-group">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
      </div>
      <% end %>
    </div><!--c-->

    <div class="col-md-8 offset-md-1"><!--e-->
        <h1>Users</h1>
      <table class="table">
        <thead>
         <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
         <tr>
          <td><%= image_tag user.get_profile_image %></td>
          <td><%= user.name %></td>
          <td><%= link_to "show", user_path(user.id) %></td>
         </tr>
        <% end %>
        </tbody>
      </table>
    </div><!--e-->
  </div><!--b-->
</div><!--a-->

<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</div>



