<div class="container"><!--a-->
 <div class="row"><!--b-->
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto"><!--c-->
   <h1>Editing Book</h1>
   <%= form_with model: @book do |f| %>
   <div class="form-group">
    <h4>Title</h4>
    <%= f.text_field :title %>
   </div>
   <div class="form-group">
    <h4>Opinion</h4>
    <%= f.text_area :body %>
   </div>
   <div class="form-group">
    <%= f.submit 'Update Book', class: "btn btn-success" %>
   </div>
   <% end %>
   <%= link_to "Show", book_path(@book.id) %><span>|</span><%= link_to "Back", books_path %>
  </div><!--c-->
 </div><!--b-->
</div><!--a-->

<div class="container mt-5">
 <div class="row">
  <div class="mx-auto">
   <p>CopyRight Infratop.inc</p>
  </div>
 </div>
</div>