

<div class="container"><!--a-->
 <div class="row"><!--b-->
  <div class="col-md-3"><!--c-->
  <p id="notice">
<% if @book_new.errors.any? %>
 <%= @book_new.errors.count %> errors prohibited this obj from being saved:
 <ul>
  <% @book_new.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>
</p>
   <h1>User info</h1>
   <p><%= image_tag current_user.get_profile_image %></p>
   name<%= current_user.name %>
   introduction<%= current_user.introduction %>
   <div class="row">
     <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fa-solid fa-user-gear"></i>
     <% end %>
   </div>
   <h2 class="mt-3">New Book</h2>
   <%= form_with model: @book_new do |f| %>
   <div class="form-group">
      <h4>Title</h4>
      <%= f.text_field :title %>
   </div>
   <div class="form-group">
      <h4>Opinion</h4>
      <%= f.text_area :body %>
   </div>
   <div class="form-group">
      <%= f.submit 'Create Book', class: "btn btn-success" %>
   </div>
   <% end %>
   </div><!--c-->

   <div class="col-md-8 offset-md-1"><!--d-->
     <h2>Book detail</h2>
     <table class="table">
       <thead>
        <tr>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
       </thead>

       <tbody>
         <% @books.each do |book| %>
        <tr>
         <td><%= image_tag book.user.get_profile_image %></td>
         <td><%= book.title %></td>
         <td><%= book.body %></td>
         <td>
           <%= link_to "Edit", edit_book_path(book.id), class: "btn btn-sm btn-success" %>
         </td>
         <td>
           <% if book.user==current_user %>
            <%= link_to "Destroy", books_path(@book), class: "btn btn-sm btn-danger",  method: :delete, "data-confirm"=>"本当に消しますか？" %>
           <% end %>
         </td>
       </tr>
       <% end %>
       </tbody>
     </table>
   </div>
  </div><!--d-->
 </div><!--b-->
</div><!--a-->

<div class="container mt-5">
 <div class="row">
  <div class="mx-auto">
   <p>CopyRight Infratop.inc</p>
  </div>
 </div>
</div>








