<div class="container">
 <div class="row">
  <div class="col-md-3">
   <h1>User info</h1>
  </div>
 </div>
</div>

<%= image_tag 'no_image', size: "100x100" %>
<p><h4>name</h4></p>
<%#= book.user.name %>
<p><h4>introduction</h4></p>

<h1>New Book</h1>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

 <h2>Books</h2>


<table>
  <thead>
   <tr>
     <th>Title</th>
     <th>Opinion</th>
   </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
   <tr>
    <td><%#= image_tag book.get_profile_image %></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td>
      <%= link_to "Edit", edit_book_path(book.id) %>
    </td>
    <td>
      <%# if @book.user==current_user %>
       <%= link_to "Destroy", books_path(book.id), method: :delete, "data-confirm"=>"本当に消しますか？" %>
      <%# end %>
    </td>
  </tr>
  <% end %>

  </tbody>
</table>
  




