<div>
    <%= flash[:notice] %>
</div>

<div class="container"><!--a-->
    <div class="row"><!--b-->
        <div class="col-md-3"><!--c-->
           <h1>User info</h1>

           <p><%= image_tag current_user.get_profile_image %></p>
           name<%= current_user.name %>
           introduction<%= current_user.introduction %>

           <div class="row">
            <%= link_to edit_user_path, class: "btn btn-outline-secondary btn-block" do %>
     　       <i class="fa-solid fa-user-gear"></i>
            <% end %>
           </div>

           <h2 class="mt-3">New Book</h2>
           <%= form_with model: @book do |f| %>
            <div class="form-group">
               <h4>Title</h4>
               <%= f.text_field :title %>
           </div>

            <div class="form-group">
               <h4>Opinion</h4>
               <%= f.text_area :body %>
            </div>

            <div class="form-group">
               <%= f.submit 'Create Book', class: "btn btn-success" %>
            </div>
           <% end %>
           </div><!--c-->

           <div class="col-me-8 offset-md-1"><!--d-->
            <h2>Book detail</h2>
           </div>

          <table>
          <tbody>
            <% @books.each do |book| %>
           <tr>
            <td>
             <% if @book.image.attached? %>
              <%= image_tag @book.image, size: "100x100" %>
             <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
            </td>
              <p><td><%= book.user.name %></td></p>
             <% end %>


            <td><%= book.title %></td>
            <td><%= book.body %></td>

            <td>
              <%= link_to "Edit", edit_book_path(book.id), class: "btn btn-sm btn-success" %>
            </td>
            <td>
              <% if @book.user==current_user %>
               <%= link_to "Destroy", books_path(book.id), class: "btn btn-sm btn-success", method: :delete, "data-confirm"=>"本当に消しますか？" %>
              <% end %>
            </td>
          </tr>
          <% end %>

          </tbody>
          </table>
        </div><!--d-->
    </div><!--b-->
</div><!--a-->

<div class="container mt-5">
    <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
    </div>
</div>
