<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/40e6210ddb.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
       <i class="fa-solid fa-house">
          <%= link_to 'Home', user_path(current_user.id) %> 
       </i>
       
       <i class="fa-solid fa-users">
           <%= link_to 'users', users_path(current_user.id) %>
       </i>
       
       <i class="fa-solid fa-book-open">
          <%= link_to 'books', books_path(current_user.id) %>
       </i>
       
        <i class="fa-solid fa-right-from-bracket">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>  
       </i>  
      
      <% else %>
       <i class="fa-solid fa-house">
          <%= link_to 'Home', root_path %> 
       </i>
       
       <i class="fa-solid fa-link">
          <%= link_to 'About', about_path %> 
       </i>
      
       <i class="fa-solid fa-user-plus">
          <%= link_to "Sign up", new_user_registration_path %> 
       </i>
      
       <i class="fa-solid fa-right-to-bracket">
          <%= link_to "Log in", new_user_session_path %> 
       </i>  

      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
